body {
  background-color: #e7e0e0;
  margin: 0; }

.position-nav, .position-pragraph {
  display: flex;
  position: relative; }

.container {
  max-width: 1024px;
  margin: 0 auto; }

.position-nav {
  justify-content: right;
  background-color: orange; }

.barre-recherche {
  margin: 30px;
  transition: background-color 2s ease-out; }
  .barre-recherche input:hover {
    background-color: #A8C0CE; }

.nav {
  background-color: orange;
  margin-left: 20px; }
  .nav ul {
    padding: 10px 0 10px 0; }
  .nav ul il {
    list-style: none; }
  .nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 10px;
    transition: color, backgroud-color 2s; }
    .nav a:hover {
      color: royalblue;
      border-bottom: black solid; }

il:first-of-type, il:last-of-type {
  padding: 10px;
  border-radius: 10px;
  background-color: #EEEC00; }

nav ul il:last-child::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f14d'; }

img {
  width: 300px;
  height: 350px;
  padding-top: 30px;
  padding-left: 30px; }

img {
  border-radius: 10%; }

.bouton-1, .bouton-2 {
  width: 15px;
  height: 15px;
  background-color: #768591;
  border: none;
  border-radius: 60%;
  padding: 0; }

.bouton-1 {
  box-shadow: none; }

.bouton-2 {
  box-shadow: none; }

.position-button {
  position: absolute;
  top: 100%;
  left: 23%; }

.position-pragraph {
  margin-bottom: 62px; }
  .position-pragraph p {
    width: 45%;
    padding: 20px; }
  .position-pragraph p::first-letter {
    font-size: 20px;
    font-weight: bold;
    color: red; }

footer {
  background-color: orange; }
  footer p {
    font-size: 20px;
    background-color: orange;
    text-align: center;
    padding: 40px; }

.header-tab {
  text-align: center; }

table {
  border-collapse: collapse;
  margin-top: 100px;
  margin-bottom: 100px; }
  table td, table th {
    border: 2px solid royalblue;
    padding: 0.5rem;
    text-align: center; }
  table td {
    text-align: left; }

tr:nth-child(even) {
  background-color: yellow; }

/***********************************************
*
* Css page contact aved BEM
**********************************************/
.contenueform {
  margin: 100px;
  position: relative; }

.contenueform__input--espace {
  padding-top: 20px; }

.form__input--espace--sterisk::after {
  padding: 6px;
  content: "*";
  color: red; }

form input, form textarea {
  width: 500px;
  border: solid 0.2rem;
  background-color: #e7e0e0; }

form select {
  background-color: #e7e0e0;
  color: #7a7676;
  height: 40px;
  font-size: 17px;
  border-radius: 5px; }

form textarea {
  resize: none; }

input[name="courriel"]:focus:valid {
  border-color: green; }

input[name="courriel"]:focus:invalid {
  border-color: red; }

#button {
  position: absolute;
  border: none;
  background-color: #746d6c;
  color: #fff;
  border-radius: 5px;
  height: 30px;
  width: 90px;
  top: 118%;
  left: 35%; }

:placeholder-shown {
  padding: 10px; }
