$color-primary: orange;
$color-secondary: rgb(231, 224, 224);
$color-tertiary: royalblue;
$color-quautary : black;
$color-child : #EEEC00;
$color-recherche : #A8C0CE;

$font-lg: 40px;
$fond-md: 30px;
$fond-sm:20px;

//nesting pour mettre du style sur l'élément child
body{
    background-color: $color-secondary;
    margin: 0;
}
%positionFlex{ 
    display: flex;
    position: relative;
}
.container{
    max-width: 1024px; 
    margin: 0 auto;
}

.position-nav{
    @extend %positionFlex;
    justify-content: right;
    background-color: $color-primary;
}

@mixin transition($param...) {
    transition: $param;

}
.barre-recherche{
    margin: 30px;
    transition: (background-color 2s ease-out);
    input:hover{
        background-color: $color-recherche;

    }
}

.nav{
    background-color: $color-primary;
    margin-left: 20px;
        ul{
            padding: 10px 0 10px 0;
        }
            ul il {
                list-style: none;
            }
                a{
                    text-decoration: none;
                    font-size: $fond-sm;
                    color: $color-quautary;
                    margin: 10px;
                   @include transition(color, backgroud-color 2s);
                        &:hover{
                            color: $color-tertiary;
                            border-bottom: $color-quautary solid;
                        }
                }
}


il:first-of-type, il:last-of-type{
    padding: 10px;
    border-radius: 10px;
    background-color: $color-child; 
  }

nav ul il:last-child::after{
    
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: '\f14d';
       
}
%images{
    width: 300px;
    height: 350px;
    padding-top: 30px;
    padding-left: 30px
    
}
img{
    @extend %images;
    border-radius: 10%; 
}

%buttons{
    width: 15px;
    height: 15px;
    background-color: #768591;
    border: none;
    border-radius: 60%;
    padding: 0; 
}
.bouton-1{
   @extend %buttons;
   box-shadow: none;
}

.bouton-2{
    @extend %buttons;
    box-shadow: none;
 }

 .position-button{
    position: absolute;
    top: 100%;
    left: 23%;
 }
 .position-pragraph{
     @extend %positionFlex;
     margin-bottom: 62px;
       p {
            width: 45%;
            padding: 20px;
        }
        p::first-letter {
            font-size: $fond-sm;
            font-weight: bold;
            color: red;
          }
    }

 @mixin headingStyles($fontSize : 20px) {
    font-size: $fontSize;
    background-color: $color-primary;
    text-align: center; 
}

footer{
    background-color: $color-primary;
    p{
        @include headingStyles();
        padding: 40px;
    }
}

.header-tab{
    text-align: center;
}

table{
    border-collapse: collapse;
    margin-top: 100px;
    margin-bottom: 100px;
        td, th{
            border: 2px solid $color-tertiary;
            padding: 0.5rem;
            text-align: center;
        }
        td{
            text-align: left;
        }
}

tr:nth-child(even){
    background-color: yellow;

}
/***********************************************
*
* Css page contact aved BEM
**********************************************/

.contenueform{
    margin: 100px;
    position: relative;

}
.contenueform__input--espace{
    padding-top: 20px;

}
.form__input--espace--sterisk::after{
    padding: 6px;
    content: "*";
    color: red;
}
%contnueInput{
    width: 500px;
    border: solid 0.2rem;
    background-color: $color-secondary;
}
form {
    input{
       @extend %contnueInput;
    }
    select{
        background-color: $color-secondary;
        color:rgb(122, 118, 118);
        height: 40px;
        font-size: 17px;
        border-radius: 5px;
      
    }
    textarea{
        @extend %contnueInput;
        resize: none;
    }
}

input[name="courriel"]:focus:valid{
    border-color: green;
}

input[name="courriel"]:focus:invalid{
    border-color: red;
}

#button {
    position: absolute;
    border: none;
    background-color: #746d6c;
    color: #fff;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    top:118%;
    left: 35%;
}
:placeholder-shown{
    padding: 10px;
}


